@charset "utf-8";


.gnl-data-show  {
    font-family: -apple-system, BlinkMacSystemFont,'roboto', 'oxygen', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin: 0 0 1rem 0;
    background: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    color: #212529;
    overflow: scroll;
}

.gnl-data-show thead {
  text-align: left;
  box-sizing: border-box;
  font-family: inherit;
  border-color: #32383E;
  font-size: 16px;
}
.gnl-data-show thead tr {
  color: #FFFFFF;
  background: #212529;
  border-bottom: 2px solid #dee2e6;
}
.gnl-data-show thead th {
  padding: 10px;
  box-sizing: border-box;
}

.gnl-data-show tbody tr {
  color: inherit;
  background: transparent;
  border-bottom: 1px solid #dee2e6;
}
.gnl-data-show tbody th {
  padding: 10px;
  text-align: left;
  font-weight: 400;
}
.gnl-data-show tbody tr:nth-of-type(2n) {
  background-color: #f1f3fa;
}
.gnl-data-show  th.action-btn {
  text-align: center !important;
  width: 70px;
  font-size: 16px;
  text-align: center !important;
}
.gnl-data-show  th.action-btn span::before {
  content: "\e019";
  font-family: "glyphicons" !important ;
}
.gnl-data-show  th.action-btn span:hover {
  cursor: pointer;

}

.gnl-data-show-menu {
  margin-bottom: 5px;
  padding: 5px;
}
.gnl-data-show-menu ul {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'roboto', 'oxygen',  'Segoe UI', Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
}
.gnl-data-show-menu ul li {
  margin:0;
  padding: 0;
}
.gnl-data-show-menu ul li a, gnl-data-show-menu ul li a.page  {
  font-family: inherit;
  margin:0;
  color: #fff;
  text-decoration: none;
  background-color: #6c757d;
  border-color:solid 1px #6c757d;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 8px 12px;
}
.gnl-data-show-menu ul li a:hover {
  background-color: #5a6268;
  border-color: #545b62;  
}
.gnl-data-show-menu ul li:last-child a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.gnl-data-show-menu ul li:first-child a {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.gnl-data-show-menu ul li .page:hover {
  cursor: default !important;
  background-color: #6c757d;

}
